.ModalContainer {
    width: 60vw;
    height:60vh;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

    background-color: antiquewhite  ;

}

.ModalForm {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    height: 80vh;
    border: 2px solid #cbbebe;
    overflow-y: scroll;
}

.ModalForm::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


.Header {
    margin-bottom: 1rem;
    position: sticky;


}

.Header>button {
    font-size: 2rem;
    line-height: 1.5rem;
    color: rgb(107, 114, 128);
    background-color: transparent;

    border: 0;
    position: absolute;
    float: left;

}

.Header>div {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}


