h4 {
  color: gray;
}
hr {
  margin: 2rem 0 2rem 0;
  z-index: -1;
}
.container {
  padding: 2rem 1rem 2rem 1rem;
  max-width: 100vw;
}

.Detailinformation,
.Introduce,
.InfoContainer,
.PartnerImg,
.ReviewContainer {
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 0.5rem;
}

.Item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}

.Itemimg {
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
  background-color: #eee;
}

.Partnercontainer {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.PartnerInfo {
}

.Partnerprice {
}

.price {
  display: flex;

  text-align: center;

  justify-content: center;
}

.Partnerprice button {
  width: 100%;
  height: 3rem;
  margin-top: 1.5rem;

  background-color: black;
  border-radius: 0.5rem;
  border: 0;
  color: white;
}

.line {
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 100;
}

.price .line {
  font-size: 2.5rem;
  margin: 0 4rem 0 4rem;
  font-weight: 100;
  vertical-align: top;
}

.Pricefont {
  font-size: 1.5rem;
}

/*  */

.Introduce div {
  padding: 1rem;
}

/*  */

.InfoContainer {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  width: 45vw;
  height: 50%;

  display: flex;
  flex-direction: column;
}

ul {
  line-height: 2.5rem;
}

.LessonTime {
  margin-top: 6rem;
}

.GymMap {
  /* background-color: #eee; */
  border-radius: 0.5rem;

  width: 100%;
  height: 400px;
  margin-top: 2rem;
  z-index: -1;
}

/*  */

.Imgwrap {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.Imgwrap > div {
  width: 24rem;
  height: 16rem;
  background-color: #eee;
}

/*  */

.Review {
  padding: 1rem;
}

.ReviewFilter {
  color: grey;
  border: 0;
  text-align: center;
}

.ReviewDetail {
  padding-left: 0.3rem;
}

.ReviewItem {
  display: flex;
  gap: 2rem;
  margin: 4rem 0 1rem 0;
}

.ReviewItem > div:nth-child(2) {
  border: 1px solid rgb(198, 189, 189);
  width: 4rem;
  text-align: center;
  border-radius: 20px;
  color: rgb(198, 189, 189);
}

.ReviewItem > div:nth-child(5) {
  padding-right: 1rem;
}
