hr {
  margin: 1rem 0 0.5rem 0;
}

.ModalContainer {
  width: 60vw;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;

  z-index: 1033;
}

.ModalForm {
  background-color: white;
  padding: 1rem 3rem 0rem 3rem;
  border-radius: 1rem;
  height: 90vh;
  border: 2px solid #cbbebe;
}

.ModalForm::-webkit-scrollbar {
  display: none;
}

.Header {
  padding-top: 1.5rem;
  height: 10%;
}

.Header > button {
  font-size: 2rem;
  line-height: 1.5rem;
  color: rgb(107, 114, 128);
  background-color: transparent;

  border: 0;
  position: absolute;
  float: left;
}

.Header > div {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
}

.main {
  height: 70%;
}

.GoalContainer {
  padding: 1rem;
  height: 60vh;
}

/* 0 */

.GoalTitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2rem;
}

.CalendarContainer {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  /* border: 1px solid #eee;
  background-color: #eee; */
}

/* 1 */

.Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;

  padding-top: 2rem;
}

.Grid > div {
  text-align: center;
  border: 1px solid black;
  height: 3rem;
}
/*  */
.footer {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}

.footer > button {
  width: 21rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}
