.filter {
  width: 100px;
  padding: 0.25rem 0.75rem; /* py-2.5 px-5 */

  font-size: 1.125rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: #1f2937; /* text-gray-900 */
  background-color: #ffffff; /* bg-white */
  border: 1px solid #979797; /* border-gray-200 */
  border-radius: 0.75rem; /* rounded-lg */
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease; /* Transition for hover effects */
  color: #979797;
  display: flex;
  justify-content: space-between;
  align-items: center;  


 
}

.btn:hover {
  background-color: #f3f4f6; /* hover:bg-gray-100 */
  color: #3b82f6; /* hover:text-blue-700 */
  border-color: #e5e7eb; /* border stays the same */
}
