.scrollFrame1 {
  width: 100%;
  height: calc(82vh - 100px);
}
.scrollFrame2 {
  width: 50%;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapFrame {
  width: 50%;
}
.filterContainer {
  display: flex;

  height: 80px;

  align-items: center;
  padding: 20px 70px 20px 50px;
  margin-top: 20px;
}

.filter {
  height: 50px;
  width: 110px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.sort {
  height: 55px;
  width: 115px;
  padding: 0 0 0 3rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;

  font-size: 1rem;
  border: 0;
}

.sort:focus {
  outline: none;
}

.gymCheck {
  position: relative;
  width: 85%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  /* border-bottom: 2px solid #e5e5e5; */
}

.gymCheck::before,
.gymCheck::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #d9d9d9;
}

.gymCheck::before {
  left: -50px;
}

.gymCheck::after {
  right: -50px;
}
