.TabLineUnderContentContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.rightBorder {
  padding: 0px 1rem;
  border-right: 1px solid #979797;
}

label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px; /* 글씨와 체크박스 사이의 간격 설정 */
}
