.card {
    display: flex;

    height: 200px;
    width:650px;

    border: 2px solid grey;

    border-radius: 30px;

    align-items: center;

    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.cardimg {
    width: 200px;
    height: 200px;


    border-radius: 25px 0 0 25px ;

    background-image: url('../IMG/partner.webp');
    background-size: cover;
}

.cardContent {
    flex-grow: 1;
    height: 200px;

    display: flex;
    flex-direction: column;


    justify-content: start;
    align-items: center;


}

.cardName {
    margin-top: 25px;
    height: 40px;
    font-size: 25px;
}

.cardCareer {
    width: 200px;
    text-align: left;
    margin-top: 12px;
}

.cardContent {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 200px;
    overflow: hidden;



}