.card {
    display: flex;

    height: 200px;
    width: 500px;

    border: 2px solid grey;

    border-radius: 30px;

    align-items: center;
    margin-left: 30px;

    box-shadow: 8px 8px 15px;
}

.cardimg {
    width: 160px;
    height: 160px;
    margin-left: 30px;
    border: 1px black;
    border-radius: 10%;

    background-image: url('../IMG/partner.webp');
    background-size: cover;
}

.cardContent {
    flex-grow: 1;
    height: 200px;

    display: flex;
    flex-direction: column;


    justify-content: start;
    align-items: center;


}

.cardName {
    margin-top: 25px;
    height: 40px;
    font-size: 25px;
}

.cardCareer {
    width: 200px;
    text-align: left;
    margin-top: 12px;
}

.cardContent {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 200px;
    overflow: hidden;



}