.Reserving,
.Reserved {
  display: flex;
  color: grey;
  width: 100%;
  margin-top: 2rem;
}

.ReservingInfo > span,
.ReservedInfo > span {
  margin: 0rem 0.5rem 0 1rem;
}

.ReservingBtn,
.ReservedBtn {
  padding-right: 5rem;
}

.ReservingBtn > button:nth-child(1) {
  border: 0;
}

.ReservingBtn > button {
  border: 1px solid grey;
  background-color: white;
  border-radius: 0.5rem;
  width: 8rem;
  text-align: center;
  margin-right: 2rem;
  height: 2rem;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease; /* 부드러운 호버 효과 */
}

.ReservingBtn > span {
  width: 8rem;
  text-align: center;
  margin-right: 4rem;
  height: 2rem;
}

.ReservedBtn > button {
  border: 1px solid grey;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  width: 8rem;
  text-align: center;
  margin-right: 2rem;
  height: 2rem;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease; /* 부드러운 호버 효과 */
}
