hr {
    margin: 1rem 0 0.5rem 0;
}

.line {
    margin: 0 1rem 0 1rem;
}

.ModalContainer {
    width: 60vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;

    z-index: 1033;
}

.ModalForm {
    background-color: white;
    padding: 1rem 3rem 0rem 3rem;
    border-radius: 1rem;
    height: 90vh;
    border: 2px solid #cbbebe;
}

.Header {
    padding-top: 1.5rem;
    height: 10%;
}

.Header>button {
    font-size: 2rem;
    line-height: 1.5rem;
    color: rgb(107, 114, 128);
    background-color: transparent;

    border: 0;
    position: absolute;
    float: left;
}

.Header>div {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}



.main {}



.MainContainer {
    padding: 1rem;
    height: 60vh;
    font-size: 0.8rem;
}


/*상세보기*/
.Content{
    margin-top: 2rem;
}

.Content>p {
    font-size: 1.3rem;
    font-weight: 400;
}




.Content>div>span:nth-child(4) {
    margin-left: 3rem;

}

/* 리뷰작성 */

.title {
    padding: 0 2rem 2rem 2rem;
    color: grey;
}

.title>div>span:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 500;

}

.title>div:nth-child(1)>span {
    margin-right: 3rem;
}

.title>div:nth-child(2)>span {
    margin-right: 4rem;
}

.title>div {
    margin-bottom: 1rem;
}

.reviewcontent {
    padding: 0 2rem 2rem 2rem;
}

.reviewcontent textarea{
    width: 100%;
    height: 35vh;
    border-radius: 0.5rem;
    resize: none;
    padding : 1.5rem;
}

/* 구독신청 */


.ApplyContent{
    padding: 2rem;
}

.ApplyContent > div{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.ApplyContent input{
    text-align: right;
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    border : 0.5px solid grey;
    padding :1.5rem;
    font-size: 1rem;

    margin-bottom: 0.7rem;
}

    
.calender{
    width: 100%;
    height: 35vh;
    background-color: #eee;
}

/* footer */
.footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}

.footer>button {
    width: 15rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}